@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Francois+One');
body {
	font-family: "Segoe UI", AppleSDGothicNeo-Light, Calibri, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	position: relative;
	background-color: #fff;
}

h1 h2 {
	text-align: center;
}

p {
  border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    border-left-color: #C9243D;
    border-left-width: 5px;
    background-color: #fefafb;
}

